<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Islamic Audio Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <a href="https://islamicaudiobooks.info/">

      <ion-item lines="none" class="default-container ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>      
          <ion-icon slot="start" name="link"></ion-icon>
          <ion-label>
            Website
          </ion-label>
      </ion-item>
      </a>
  
    <a href="https://www.facebook.com/islamicaudiobooks.info/">
      <!--a href="fb://page/IslamicAudioBooksInfo"-->


    <ion-item lines="none" class="default-container ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        <ion-label>
          Facebook
        </ion-label>
    </ion-item>
    </a>
    <a href="https://twitter.com/AudioBooksIslam">
    <ion-item lines="none" class="default-container ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        <ion-label>
          Twitter
        </ion-label>
    </ion-item>
    </a>
    <a href="https://www.youtube.com/IslamicAudioBooksInfo">
    <ion-item lines="none" class="default-container ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="logo-youtube"></ion-icon>
        <ion-label>
          Youtube
        </ion-label>
    </ion-item>
    </a>
      <a href="https://www.instagram.com/IslamicAudioBooksInfo">
    <ion-item lines="none" class="default-container ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="logo-instagram"></ion-icon>
        <ion-label>
          Instagram
        </ion-label>
    </ion-item>
    </a>
  </ion-list>
  <div style="width: 100%; height: 300px;"></div>

</ion-content>