<ion-header>
  <ion-toolbar>
    <ion-title>zakatPay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Wealth</h1>
  <form  [formGroup]="calcuLate">
  <ion-item>
  <ion-label position="floating"  for="amount_home">Cash at Home</ion-label>
  <ion-input formControlName="amount_home" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"  for="amount_bank">Bank Account Balance</ion-label>
  <ion-input formControlName="amount_bank" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"  for="amount_shares">Cash value of Stocks and Equities</ion-label>
  <ion-input formControlName="amount_shares" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"  for="amount_merchandise">Profits &amp; Inventory</ion-label>
  <ion-input formControlName="amount_merchandise" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>

  <ion-label position="floating"  for="amount_gold">Gold &amp; Silver</ion-label>
  <ion-input formControlName="amount_gold" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>

  <ion-label position="floating"  for="">Investment Property</ion-label>
  <ion-input formControlName="amount_property" step="any" type="number" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"  for="">Any Other Income</ion-label>
  <ion-input formControlName="amount_other" step="any" type="number" ></ion-input>
</ion-item>

  <h1>Deductions</h1>
  <hr/>
<ion-item>
  <ion-label position="floating"  for="">Debts</ion-label>
  <ion-input formControlName="amount_debts" step="any" type="number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"  for="">Expenses</ion-label>
  <ion-input formControlName="amount_expenses" step="any" type="number" ></ion-input>
  </ion-item>

</form>
</ion-content>
<ion-footer class="ion-padding-horizontal">
  <ion-toolbar style="background: #ffffff" *ngIf="payableAmount > 0" >
   <ion-note>
     Total: {{total}}
   </ion-note>
   <ion-note slot="end">Payable Amount: {{pAmount}}</ion-note>
  </ion-toolbar>
    <ion-toolbar style="background: #ffffff" >
    <ion-button (click)="calculateZaqat()">Calculate</ion-button>
    <ion-note slot="end" *ngIf="payableAmount > 0">zakat: {{payableAmount.toFixed(2)}}</ion-note>
  </ion-toolbar>
</ion-footer>
