<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Zakat Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Wealth</h1>
  <form [formGroup]="calcuLate">
    <ion-item>
      <ion-label position="floating" for="amount_home">Total Savings</ion-label>
      <ion-input
        min="0"
        formControlName="amount_home"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="amount_shares"
        >Cash value of Stocks and Equities</ion-label
      >
      <ion-input
        min="0"
        formControlName="amount_shares"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="amount_merchandise"
        >Profits &amp; Inventory</ion-label
      >
      <ion-input
        min="0"
        formControlName="amount_merchandise"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>

    <ion-row formGroupName="gold_24">
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >24 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="qty"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >Rate of 24 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="amount"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
        <div *ngIf="(calcuLate.get('gold_24.amount').errors?.required && register_slot_submited) || (calcuLate.get('gold_24.amount').errors?.min && register_slot_submited)" class="text-danger" style="text-align: right;">
          Rate is required to calculate Nisab.
        </div>

      </ion-col>
    </ion-row>

    <ion-row formGroupName="gold_22">
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >22 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="qty"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >Rate of 22 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="amount"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row formGroupName="gold_20">
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >20 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="qty"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >Rate of 20 Carat Gold in grams</small
        >

        <ion-item>
          <ion-input
            min="0"
            formControlName="amount"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row formGroupName="silver">
      <ion-col size="6">
        <small position="floating" for="amount_home">Silver in grams</small>

        <ion-item>
          <ion-input
            min="0"
            formControlName="qty"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <small position="floating" for="amount_home"
          >Rate of Silver in grams</small
        >
        <ion-item>
          <ion-input
            min="0"
            formControlName="amount"
            step="any"
            type="number"
          ></ion-input>
        </ion-item>
        <div *ngIf="calcuLate.get('silver.amount').errors?.required && register_slot_submited" class="text-danger" style="text-align: right;">
          Rate is required to calculate Nisab.
        </div>

      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="floating" for="">Investment Property</ion-label>
      <ion-input
        min="0"
        formControlName="amount_property"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="">Any Other Income</ion-label>
      <ion-input
        min="0"
        formControlName="amount_other"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>

    <h1>Deductions</h1>
    <hr />
    <ion-item>
      <ion-label position="floating" for="">Debts</ion-label>
      <ion-input
        min="0"
        formControlName="amount_debts"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="">Expenses</ion-label>
      <ion-input
        min="0"
        formControlName="amount_expenses"
        step="any"
        type="number"
      ></ion-input>
    </ion-item>
  </form>



</ion-content>
<ion-footer >
  <ion-card *ngIf="payableAmount > 0">
    <ion-card-content>
      <ion-card-subtitle> <strong>Total:</strong>  {{total.toFixed(1)}} </ion-card-subtitle> <br />
      <ion-card-subtitle slot="end" *ngIf="payableAmount > 0"><strong>Zakat Amount:</strong>  {{pAmount.toFixed(1)}}</ion-card-subtitle><br />
      <ion-card-subtitle slot="end" *ngIf="payableAmount > 0"><strong>Nisab:</strong>  {{nisab.toFixed(1)}}</ion-card-subtitle><br />
      <ion-card-subtitle slot="end"><strong>Zakat @ 2.5% =</strong> {{payableAmount.toFixed(2)}}</ion-card-subtitle>
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="register_slot_submited && payableAmount == 0 && calcuLate.valid">
    <ion-card-content>
      <ion-card-subtitle class="ion-text-center">Your savings do not meet the Nisab. You are not eligible to pay Zakat.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-toolbar (click)="calculateZaqat()" class="ion-text-center">Calculate
  </ion-toolbar>
</ion-footer>
