<ion-header no-border>
  <ion-toolbar>
    <ion-title>Islamic Audio Books</ion-title>
    <ion-icon name="search" slot="end" routerLink="/tab/search" style="padding-right: 15px; font-size: 24px;">
    </ion-icon>

  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="slider-container" style="border : var(--ion-color-theme); padding: 15px 0px;" *ngIf="sliders.length > 0" >

    <ion-slides pager="true" [options]="slideOpts" style="max-height: 250px !important;">
      <ion-slide *ngFor="let a of sliders" class="ion-activatable ion-padding" (click)="playslideraudio(a.audio)">
        <div class="ion-text-center">
        <ion-ripple-effect></ion-ripple-effect>
        <img [src]="a.image_min" alt="Slider"
          style="width: 90%; max-height: 230px; border-radius: 6px" />
          <h3 class="dai-banna" style="     position: absolute;
          color: #222222;
          z-index: 177;
          top: 42px;
          width: 90%;
          font-weight: 900;
          font-family: sans-serif;
          font-size: 24px;">{{a?.header}}</h3>

          <h5 style="position: absolute;
          z-index: 177;
          bottom: 42px;
          width: 50%;
          left: 25%;
          color: #222223; font-size: 11px; " class="dai-banna">{{a?.audio_details?.audioname}}</h5>
          </div>
      </ion-slide>
    </ion-slides>
  </div>
  <!--br />
<p style="padding-left: 16px;"><b>Category</b></p-->
  <ion-row class="ion-padding ">
    <ion-col size="6" *ngFor="let a of data; let i = index" align="center" style="padding: 0px 7.5px;">
      <div (click)="urllink(a.modulename)" style="width: 100%; padding-top: 15px !important;" align="center"
        class="ion-activatable default-container animated fadeInUp" [ngStyle]="{'box-shadow': '0px 0px 50px '+getColor(a)+' inset'}">
        <img src="./assets/icon/{{i+1}}.png"  alt="{{a.modulename}}"
          style="width: 100px; height: 100px; border-radius: 6px" />
        <div style="font-size: 15px;  font-weight: 700;">{{a.modulename}}</div> <br />
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
  </ion-row>

  <!--p style="padding-left: 16px; font-size: 16px;" *ngIf="dailyaskar.length > 0"><b>Aazkar Of The Day</b></!--p><br />
  <ion-slides pager="false" [options]="slideOpts2" *ngIf="dailyaskar.length > 0" class="ion-padding default-container"
    style="--margin-top: 10px;--margin-bottom: 10px;">
    <ng-container *ngFor="let a of dailyaskar; let i = index">
      <ion-slide *ngIf="i< 5">
        <div (click)="dailyaskarlist(i)" style="text-align: left; padding: 20px;">
          <img  [src]="a.logo_min" style="width: 100%;  border-radius: 6px" alt="{{a.audioname}}" />
          <div class=" ion-activatable">
            <div align="center">{{a.audioname}}</div>
            <div align="center" class="urdufont" style="text-align: center !important;">{{a.audionameurdu}}</div>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides><br /-->


  <!--p style="padding-left: 16px; font-size: 16px;" *ngIf="taudiodata?.length >0"><b>Latest audio</b></!--p><br />
  <ion-slides pager="false" [options]="slideOpts2" class="ion-padding default-container"
    style="--margin-top: 10px;--margin-bottom: 10px;" *ngIf="taudiodata?.length >0">
    <ng-container *ngFor="let a of taudiodata; let i = index">
      <ion-slide *ngIf="i< 5">
        <div (click)="trandingpalylast(i)" style="text-align: left; padding: 20px;">
          <img [src]="a.logo_min" style="width: 100%;  border-radius: 6px" alt="{{a.audioname}}" />
          <div class=" ion-activatable">
            <div align="center">{{a.audioname}}</div>
            <div align="center">{{a.audionameurdu}}</div>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides><br /-->
  <p style="padding-left: 16px; font-size: 16px;" *ngIf="lastlist?.length >0"><b>You were listening</b></p>
  <div class="ion-padding">

    <ion-list lines="full">
      <ng-container *ngFor="let a of lastlist; let i = index">

      <ion-item  class="chaptercontainer"  *ngIf="i < 4">
        <ion-label  (click)="palylast(i)" class="ion-text-wrap" >
          <h2>{{a.audioname}}
            <strong style="float: right;" class="urdufont">{{a.audionameurdu}}</strong>
        </h2>
        </ion-label>
        <ion-icon name="play"  (click)="palylast(i)" class="icon"></ion-icon>
    </ion-item>
    </ng-container>
    </ion-list>

  </div>

  <!--ion-list class="ion-padding">
    <ng-container *ngFor="let activetrack of lastlist; let i = index">
      <ion-item class="item-borderless ion-activatable default-container" lines="none" *ngIf="i < 3">
        <div style="padding-right: 15px;">
          <img [defaultImage]="defaultImage" [lazyLoad]="activetrack?.logo_min" style="width: 60px;" />
        </div>
        <div>
          <div class="title"> {{activetrack?.audioname}}</div>
          <div class="subtitle"> {{activetrack?.audionameurdu}}</div>
          <div class="sub-title" style="font-size: 12px;">{{activetrack?.chapter}}</div>
        </div>
        <div slot="end" class="ion-activatable" style="border-radius: 100%;">
        <ion-icon name="play" (click)="palylast(i)" ></ion-icon>
        <ion-ripple-effect ></ion-ripple-effect>
        </div>
      </ion-item>
    </ng-container>
  </ion-list-->

  <!--h4  style="padding-left: 16px;"  *ngIf="lastlist" >Last playlist</!--h4>
  <ion-list-- *ngIf="activetrack" class="ion-padding">
    <ion-item  lines="none" >
      <ion-label  >
        <h2 style="padding-bottom: 10px;">{{activetrack.name}}</h2>
        <ion-icon name="heart" style="float: left;" (click)="favourite(activetrack)" ></ion-icon>
        <ion-icon name="play" style="float: right;" (play)="play(activetrack)"  ></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list-->
  <div style="width: 100%; height: 300px;"></div>

</ion-content>
<!--ion-list-- *ngIf="data">

  <ion-item *ngFor="let a of data" no-lines routerLink='/tab/home/book/{{a.modulename}}' >
    <ion-avatar slot="start">
      <img src="https://urdubooksaudio.com/audioapp/assets/admin/img/theme/react.jpg">
    </ion-avatar>
    <ion-label>
      <h2>{{a.modulename}}</h2>
    </ion-label>
  </ion-item>

  </!--ion-list-->
