<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prayer Time</ion-title>
    <ion-icon
      name="funnel-outline"
      (click)="presentSettingModal()"
      slot="end"
      style="margin-right: 15px; font-size: 24px"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-bottom:1px">
  <div *ngIf="!timings">
    <br />
    <br />

    <div class="ion-padding custom-skeleton" *ngFor="let a of [1,1,1,1,1,1]">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>

  <super-tabs *ngIf="timings">
    <super-tabs-toolbar
      no-border
      slot="top"
      scrollable="true"
      class="ion-no-border"
      style="background-color: #005499; color: #6cb8f7"
    >
      <ng-container *ngFor="let timing of timings; let i = index">
        <super-tab-button *ngIf="i >= indexNo-1">
          <ion-label>{{timing?.date?.gregorian?.date}}</ion-label>
        </super-tab-button>
      </ng-container>
    </super-tabs-toolbar>
    <super-tabs-container>
      <ng-container *ngFor="let timing of timings; let i = index">
        <super-tab *ngIf="i >= indexNo-1">
          <ion-content class="ion-padding">
            <h4>{{timing.date.readable}}</h4>
            <h4>
              {{timing.date.hijri?.month?.en}} {{timing.date.hijri?.day}},
              {{timing.date.hijri?.year}}
              {{timing.date.hijri?.designation?.abbreviated}}
            </h4>
            <h5><ion-icon name="location-outline"></ion-icon> {{userLocation?.locality}}, {{userLocation?.subAdministrativeArea}}, {{userLocation?.countryName}}</h5>
            <h4 *ngIf="i == indexNo-1">{{_api.nexTime(timing.timings)}}</h4>

            <ion-list *ngIf="timings">
              <ion-item>
                <ion-label
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Fajr')?'primary':''"
                  >Fajr</ion-label
                >
                <ion-label
                  slot="end"
                  class="ion-text-right"
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Fajr')?'primary':''"
                  >{{timing.timings?.Fajr | removeIST}}</ion-label
                >
              </ion-item>
              <ion-item>
                <ion-label>Sunrise</ion-label>
                <ion-label slot="end" class="ion-text-right"
                  >{{timing.timings?.Sunrise | removeIST}}</ion-label
                >
              </ion-item>

              <ion-item>
                <ion-label
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Dhuhr')?'primary':''"
                  >Dhuhr</ion-label
                >
                <ion-label
                  slot="end"
                  class="ion-text-right"
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Dhuhr')?'primary':''"
                  >{{timing.timings?.Dhuhr | removeIST}}</ion-label
                >
              </ion-item>

              <ion-item>
                <ion-label
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Asr')?'primary':''"
                  >Asr</ion-label
                >
                <ion-label
                  slot="end"
                  class="ion-text-right"
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Asr')?'primary':''"
                  >{{timing.timings?.Asr | removeIST}}</ion-label
                >
              </ion-item>
              <ion-item>
                <ion-label
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Maghrib')?'primary':''"
                  >Maghrib</ion-label
                >
                <ion-label
                  slot="end"
                  class="ion-text-right"
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Maghrib')?'primary':''"
                  >{{timing.timings?.Maghrib | removeIST}}</ion-label
                >
              </ion-item>

              <ion-item>
                <ion-label
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Isha')?'primary':''"
                  >Isha</ion-label
                >
                <ion-label
                  slot="end"
                  class="ion-text-right"
                  [color]="(i == indexNo-1 && _api.nexPrayerTime(timing.timings)=='Isha')?'primary':''"
                  >{{timing.timings.Isha | removeIST }}</ion-label
                >
              </ion-item>
            </ion-list>
          </ion-content>
        </super-tab>
      </ng-container>
    </super-tabs-container>
  </super-tabs>
</ion-content>
<ion-footer>
  <ion-toolbar routerLink="/qubla-location" class="ion-text-center">
    Find Qibla
  </ion-toolbar>
</ion-footer>
