<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>

    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--padding-bottom: 80px">

<div  align="center" style="font-size: medium; font-weight: 400;">
  “In the Name of Allah, the Most Beneficent, the Most Merciful”
 <br />
  <strong>Introducing Islamic Audio Books </strong>
  <p>Islamic Audio Books is a Non-profitable Islamic publisher using different platforms to present a vivid collection of the word of Allah (سُبْحَانَهُ وَ تَعَالَى) with guidance from Authentic Hadiths of our beloved Prophet Muhammad (صلى الله عليه وسلم), Quotes of Sahaba (رضي الله عنه) Taba'een (رحمة الله عليه) to the modern-day busy Muslim.
   </p>
   <p> A three years of journey and a long-distance covered 
  Islamic Audio Books started in 2017 -Audio recording of the book "Tafseer Ibn E Katheer" from Arabic to Urdu by Maulana Muhammad Junagarhi, followed by Shamail e Muhammadiyya and Daily Azkar & Du'as. Alhamdulillah we have completed our latest project Mishkat Al Masabih as well. إِنْ شَاءَ ٱللَّٰهُ more books in different languages to follow.
</p>
  <p>How to be benefited by Islamic Audio books : <br />
  1. You can listen while Driving, Working, being with the family and while doing any other activity. <br />
   
  2. For individuals who are unable to read for various reasons, especially visually impaired brothers and sisters this audio format will be very helpful because due to unavailability of  Urdu Tafseer Books in Braille. <br />
   
  3.Getting enlightened with correct knowledge of Islam and Implement the Qur'an and the Sunnah in their lives. All our audios are 100% Free and no hassles of copyrights. So, listen and share as much as you can. However, it is very important to note the following: <br />
  </p>
   
  <p>The purpose and character of the use, it is only for nonprofit educational and awareness purposes. And not to be used for commercial and profit. Requesting any type of monetary support, help, charges or donations using Islamic Audio Books in any way possible is strictly prohibited.
   </p>
    <p>The amount of the audio to be used or shared in relation as a whole, such as using a Hadith in its entirety, or using one chapter from a Surah; Manipulating, cutting or cropping and/or pasting, attaching with any other part of Islamic Audio Books or any other external audio where in it loses its Authenticity and understanding is not allowed. Adding any type of music, humming or background sounds to the original audios available on <a href="https://islamicaudiobooks.info/">www.islamicaudiobooks.info</a> and its application is not allowed while sharing or using in any digital or social media. Any such violation shall be taken seriously and shall be reported to relevant authorities to block or remove the content.
   </p>
      <p>We request the listeners to please raise an alert if they discover any error we welcome your corrections and feedback. Please let us know about your experience, and suggestions.
  contact@islamicaudiobooks.info </p>
  
  <p> We pray to Allah with his best names to accept our work. We also pray that the listeners/acquirers of this authentic knowledge would be able to practice these throughout our lives. Lastly, please remember the team in your valuable DUA'S.</p>
</div>
<div  align="center" class="urdufont" style="font-size: medium; font-weight: 600; ">
  
  <strong class="urdufont" style=" font-weight: 900; ">بسم اللہ الرحمن الرحیم </strong>
  <p class="urdufont" style="font-size: medium; font-weight: 600; ">
  الحمد لله رب العالمين والصلاة والسلام على أشرف الأ نبیاء و المرسلين وعلى آله وصحبه اجمعین ومن تبعهم بإحسان إلى يوم الدين امابعد.
   اسلامک آڈیو بکس ایک غیر منافع بخش اسلامک  اپلیکیشن( Application ) ہے۔ جو مختلف پلیٹ فارمس سے اللہ کے پیغام کو مستند احادیث رسولﷺ، صحابہ کرام وتابعین عظام کی مستند دروایتوں کی روشنی میں مسلمانوں تک ریکارڈ گردہ آواز کوپہنچاناہے۔
   مستند احادیث کے حوالے سے اسلامک آڈیو اپلیکیشن( Application )کے فقدان کی وجہ سے اسلامک آڈیو بکس کی شروعات 2017میں ہوئی ۔ہمارا پہلا پراجکٹ کتاب ’’تفسیرابن کثیر‘‘ کی آڈیو ریکارڈنگ تھا جوکہ مولانا محمد جونا گڑھی ؒکاترجمہ ہے، اس کے بعد ’’شمائل محمدیہ ‘‘اور روزانہ کے اذکار ودُعائیںریکارڈکی گئیں ۔
    کتابوں کی ریکارڈنگ کا مقصد :
  </p>
   <br /><p class="urdufont" style="font-size: medium; font-weight: 600; ">
 1)آپ ڈرائیونگ کرتے ہوئے ،کام کرتے ہوئے ،اپنے خاندان،دوست واحباب کے ساتھ اور دیگر مصروفیات میں سن سکیں۔
 <br />
 2)وہ اشخاص جو مختلف وجوہات کی بناء پر پڑھ نہیں سکتے ،خصوصاًنابینالوگوں کے لئے یہ ریکارڈنگ بہت مفید ہے۔ہم سے ایک ایسے ہی بھائی نے ریکارڈنگ کیلئے شکریہ ادا کیا۔چونکہ ’’بریل بکس‘‘(وہ کتابیں جو نابیناافرادکے لئے مخصوص کندہ کی ہوئی تحریر)میں تفسیر کی عدم دستیابی کی وجہ سے وہ تفسیر کے مطالعہ سے قاصر ہیں۔
 <br />
 3)سب سے اہم بات یہ کہ اس کا اصل مقصد لوگوں کو اسلام کی صحیح تعلیمات سے روشناس کراناہے ۔لوگوں تک قرآن وسنت کی تعلیم کو عام کرناہے ۔ہمارے تمام آڈیو 100%مفت ہیں اور اس میں حق اشاعت کی پابندی نہیں ہے اس لئے استفادہ حاصل کریں اوردوسرے لوگوں تک پہنچائیں ۔تاہم حسبِ ذیل ہدایات کا خیال رکھیں۔
    استعمال کے شرائط :یہ صرف غیر منافع بخش تعلیمی اور شعوربیداری کے لئے ہے ،اس کا استعمال تجارت یا دنیوی مفاد کے لئے نہ ہو۔اس  اپلیکیشن(Application ) ے ذریعہ کسی بھی قسم کی مالی امداد ،ہدیہ یا چندہ کی درخواست کرنا منع ہے۔
   آڈیو کے کسی جزیا کل حصہ کا استعمال یا دوسروں تک پہنچانا ،جیسے مکمل حدیث یا سورۃ کا باب وغیرہ کا جوڑتوڑ ،تراشنایا، اس کے کسی حصہ کو کاٹ کر اسلامک آڈیو بکس سے منسلک کرنا،یا کسی بیرونی آڈیو ریکارڈ نگ میں استعمال کرنا جس سے مواد کی سند یا فہم کو نقصان ہوجائے ایسی کوئی تبدیلی ممنوع ہے۔سماجی ذرائع ابلاغ یا ڈیجیٹل ذرائع کے استعمال یا دوسروں تک پہنچانے کےلئے <a href="https://islamicaudiobooks.info/">www.islamicaudiobooks.info</a>پر دستیاب ہے۔اصل آڈیوزیا اس کے سافٹ وئیر پروگراموں میں کسی قسم کی موسیقی ،گنگناہٹ یا پس منظر میں صوتی عنصر کو شامل کرناممنوع ہے ۔ایسی کسی بھی خلاف ورزی کا سخت نوٹ لیاجائے گا اور متعلقہ حکام کو روک لگانے یا مواد کو خارج کرنے کے لئے رپورٹ کی جائے گی ۔
  <br /> آخر میںہم ان آڈیوز کے سامعین سے درخواست کرتے ہیں کہ اگر کوئی غلطی پائی جائے تو برائے مہربانی اطلاع کریں تاکہ جلد از جلد اس کی تصحیح کی جاسکے، مزیدبہتری کے لئے ہم آپ کے مشوروں کے منتظر ہیں ۔ہمیں اپنے تجربات سے نوازیں۔
   اللہ تعالیٰ سے ہم دعاگو ہیں کہ ہماری کوششوں کو قبول فرمائے۔ہم تمام کو صحیح علم حاصل کرنے اور اس پر عمل کرنے کی توفیق عطافرمائےاور ہمیںاپنے پرخلوص دعاؤں میں یادرکھیں ۔ ساتھ ہی ہم ان تمام لوگوں کےشکرگزار ہیںجنہوں نے اس اپلیکیشن( Application ) کے لئے ہر طرح کاتعاون اور ساتھ دئے ہیں۔فجزاھم اللہ خیراًفی الدنیاوالآخرۃ 
 ای۔میل: contact@islamicaudiobooks.info
 </p>
  </div>
  <div style="width: 100%; height: 100px;"></div>
</ion-content>
