<ion-content>
   <img [src]="defaultImage" style="height: 100vh; position: fixed; top: 0px; width: 100%;"/>
  <!--div class="div1"></div>
  <div class="div2"></div-->

  <ion-grid  class="container" style="z-index: 2;">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%; flex-direction: column">
      <!--div class="intro">
        <img [src]="defaultImage" style="width: 110px" />
      </div-->
      <h2>&nbsp;</h2>
      <div class="logo">
        <div class="wrapper">
                  <img [src]="logo" [class]="classng" style="width: 110px;
                  box-shadow: 0px 0px 10px #bdbdbd9e;
                  " />

        </div>
      </div>


      <!--div class="text">
        <img [src]="defaultImagetext" style="width: 90px" />
      </div-->
      </ion-row>
    </ion-grid>

  </ion-content>
