
<!--ion-content-- class="ion-padding" style="--padding-bottom: 100px" >
  <div>
    <img [defaultImage]="defaultImage" [lazyLoad]="book?.horizontal_img"  *ngIf="book?.horizontal_img" style="border-radius: 6px; width: 100%;"  >
    <img [defaultImage]="defaultImage" [lazyLoad]="book?.profile_image_min" *ngIf="!book?.horizontal_img" style="border-radius: 6px; width: 100%;"   >

    <div>
      <h4>{{book?.name}}</h4>
      <p align="left"  > <span class="urdu">{{book?.nameurdu}}</span> </p>
    </div>
  </div>
  <div  style="line-height: 15px; letter-spacing: 1px">
    <p style="font-size: 11px; line-height: 15px; letter-spacing: 1px; text-align: justify;">{{book?.synopsys}}</p>
    <p style="font-size: 11px; line-height: 15px; letter-spacing: 1px; text-align: justify;" class="urdu">{{book?.synopsysurdu}}</p>
  </div>
  </!--ion-content-->

