.light ion-item
{
    --padding-top: 0px;
    border-radius: 6px;
    --padding-start : 0px;
    --padding-end : 0px;
    --inner-padding-end	: 0px;
    --background: #ffffff;
    background: #ffffff;
    margin-bottom: 8px;
}